@using Elomoas.mvc.Models.Users;
@model UserVM;

@{
    ViewData["Title"] = "My Profile";
    var user = Model.User;
}


<div class="middle-sidebar-bottom">
    <div class="middle-sidebar-left">
        <div class="card d-block w-100 border-0 shadow-xss rounded-lg overflow-hidden mb-3" style="background-image: url(/images/bb-16.png);">
            <div class="card-body p-lg-5 p-4 bg-black-08">
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-lg-12 pl-xl-5 pt-xl-5">
                        <figure class="avatar ml-0 mb-4 position-relative w100 z-index-1">
                            <img src="@(user?.Img ?? "/images/user-12.png")" alt="image" class="float-right p-1 bg-white rounded-circle w-100">
                        </figure>
                    </div>
                    <div class="col-xl-4 col-lg-6 pl-xl-5 pb-xl-5 pb-3">
                        <h4 class="fw-700 font-md text-white mt-3 mb-1">@(user?.Name ?? "User")</h4>
                        <span class="font-xssss fw-600 text-grey-500 d-inline-block ml-0">@(user?.Email ?? "email@example.com")</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card d-block w-100 border-0 shadow-xss rounded-lg overflow-hidden mb-4">
            <ul class="nav nav-tabs" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#navtabs0">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#navtabs1">My Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#navtabs2">Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#navtabs3">Friends</a>
                </li>
            </ul>
        </div>

        @*ТАБ КОНТЕКНТЫ*@
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="navtabs0">
                <div class="card d-block w-100 border-0 shadow-xss rounded-lg overflow-hidden p-lg-4 p-2">
                    <div class="card-body mb-lg-3 pb-0"><h2 class="fw-400 font-lg d-block">  <b>About Me</b> </h2></div>
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-xl-12">
                                <p class="font-xssss fw-600 lh-28 text-grey-500 pl-0">@(string.IsNullOrEmpty(user?.Description) ? "The user has no description" : user.Description)</p>
                                <ul class="d-flex align-items-center mt-2 mb-3 float-left">
                                    @*SOCIAL NETWORKS*@
                                    <li class="mr-2"><a href="#" class="btn-round-md bg-facebook"><i class="font-xs ti-facebook text-white"></i></a></li>
                                    <li class="mr-2"><a href="#" class="btn-round-md bg-twiiter"><i class="font-xs ti-twitter-alt text-white"></i></a></li>
                                    <li class="mr-2"><a href="#" class="btn-round-md bg-linkedin"><i class="font-xs ti-linkedin text-white"></i></a></li>
                                    <li class="mr-2"><a href="#" class="btn-round-md bg-instagram"><i class="font-xs ti-instagram text-white"></i></a></li>
                                    <li class="mr-2"><a href="#" class="btn-round-md bg-pinterest"><i class="font-xs ti-pinterest text-white"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="tab-pane fade" id="navtabs1">
                <div class="card d-block w-100 border-0 shadow-xss rounded-lg overflow-hidden p-4">
                    <div class="card-body mb-3 pb-0">
                        <h2 class="fw-400 font-lg d-block"><b>My Courses</b></h2>
                    </div>
                    <div class="card-body pb-0">
                        <div class="row">
                            @if (Model.SubscribedCourses != null && Model.SubscribedCourses.Any())
                            {
                                @foreach (var course in Model.SubscribedCourses)
                                {
                                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 mb-4">
                                        <div class="card w-100 p-0 shadow-xss border-0 rounded-lg overflow-hidden mr-1">
                                            <div class="card-image w-100 mb-3">
                                                <a asp-controller="Course" asp-action="Course" asp-route-id="@course.Id" class="video-bttn position-relative d-block">
                                                    <img src="@course.Img" alt="@course.Name" class="w-100">
                                                </a>
                                            </div>
                                            <div class="card-body pt-0">
                                                <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-warning d-inline-block text-warning mr-1">@course.PL</span>
                                                <span class="font-xss fw-700 pl-3 pr-3 ls-2 lh-32 d-inline-block text-success float-right">
                                                    <span class="font-xsssss">$</span> @course.Price
                                                </span>
                                                <h4 class="fw-700 font-xss mt-3 lh-28 mt-0">
                                                    <a asp-controller="Course" asp-action="Course" asp-route-id="@course.Id" class="text-dark text-grey-900">@course.Name</a>
                                                </h4>
                                                <a href="#" class="p-2 mt-4 d-inline-block text-white fw-700 lh-30 rounded-lg w200 text-center font-xsssss ls-3 bg-danger unsubscribe-course-btn" data-course-id="@course.Id">UNSUBSCRIBE</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="col-12">
                                    <p class="text-center text-grey-500">You haven't subscribed to any courses yet.</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>



            <div class="tab-pane fade" id="navtabs2">
                <div class="card d-block w-100 border-0 shadow-xss rounded-lg overflow-hidden p-4">
                    <div class="card-body mb-3 pb-0">
                        <h2 class="fw-400 font-lg d-block"><b>My Groups</b></h2>
                    </div>
                    <div class="card-body pb-0">
                        <div class="row">
                            @if (Model.SubscribedGroups != null && Model.SubscribedGroups.Any())
                            {
                                @foreach (var group in Model.SubscribedGroups)
                                {
                                    <div class="col-xl-4 col-lg-6 col-md-6">
                                        <div class="card mb-4 d-block w-100 shadow-xss rounded-lg p-xxl-5 p-4 border-0 text-center">
                                            <a href="#" class="btn-round-xxxl rounded-lg bg-lightblue ml-auto mr-auto">
                                                <img src="@group.Img" alt="@group.Name" class="p-1">
                                            </a>
                                            <h4 class="fw-700 font-xs mt-4">@group.Name</h4>
                                            <p class="fw-500 font-xssss text-grey-500 mt-3">@group.Description</p>
                                            <div class="clearfix"></div>
                                            <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-success d-inline-block text-success mb-1 mr-1">Full Time</span>
                                            <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-success d-inline-block text-success mb-1 mr-1">@group.PL</span>
                                            <div class="clearfix"></div>
                                            <a href="#" class="p-2 mt-4 d-inline-block text-white fw-700 lh-30 rounded-lg w200 text-center font-xsssss ls-3 bg-danger unsubscribe-btn" data-group-id="@group.Id">UNSUBSCRIBE</a>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="col-12">
                                    <p class="text-center text-grey-500">You haven't subscribed to any groups yet.</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="navtabs3">
                <div class="card d-block w-100 border-0 shadow-xss rounded-lg overflow-hidden p-4">
                    <div class="card-body mb-3 pb-0">
                        <h2 class="fw-400 font-lg d-block"><b>My Friends</b></h2>
                    </div>
                    <div class="card-body pb-0">
                        <div class="row">
                            @if (Model.Friends != null && Model.Friends.Any())
                            {
                                @foreach (var friend in Model.Friends)
                                {
                                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 user-item" data-user-id="@friend.IdentityId">
                                        <div class="card mb-4 d-block w-100 shadow-xss rounded-lg p-4 border-0 text-center user-card">
                                            <a asp-controller="Users" asp-action="UserPage" asp-route-id="@friend.Id" 
                                               class="ml-auto mr-auto rounded-lg overflow-hidden d-inline-block user-image">
                                                <img src="@(friend.Img ?? "/images/user-12.png")" alt="@friend.Name" class="p-0 w100 shadow-xss">
                                            </a>
                                            <h4 class="fw-700 font-xs mt-3 mb-1">
                                                @friend.Name
                                                <i class="feather-user-check text-success ml-1" data-toggle="tooltip" title="Friend"></i>
                                            </h4>
                                            <p class="fw-600 font-xssss text-grey-500 mt-0 mb-2">@friend.Email</p>
                                            <div class="clearfix"></div>
                                            <div class="d-flex justify-content-center friend-actions">
                                                <a asp-controller="Users" asp-action="UserPage" asp-route-id="@friend.Id" 
                                                   class="mt-3 p-0 btn p-2 lh-24 w100 ml-1 ls-3 d-inline-block rounded-xl bg-current font-xsssss fw-700 ls-lg text-white btn-profile">PROFILE</a>
                                                <a href="#" class="mt-3 p-0 btn p-2 lh-24 w100 ml-1 ls-3 d-inline-block rounded-xl bg-danger font-xsssss fw-700 ls-lg text-white btn-profile remove-friend-btn" 
                                                   data-user-id="@friend.IdentityId">
                                                    <i class="feather-user-minus mr-1"></i> REMOVE FRIEND
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="col-12">
                                    <p class="text-center text-grey-500">You don't have any friends yet.</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var triggerTabList = [].slice.call(document.querySelectorAll('#pills-tab a'));
        triggerTabList.forEach(function (triggerEl) {
            var tabTrigger = new bootstrap.Tab(triggerEl);
            triggerEl.addEventListener('click', function (event) {
                event.preventDefault();
                tabTrigger.show();
            });
        });
    });
</script>

<style>
    .user-card {
        transition: all 0.3s ease;
        border: none !important;
        border-radius: 20px !important;
        box-shadow: 0 0 20px rgba(0,0,0,0.1),
                   0 0 15px rgba(0,0,0,0.05) !important;
        padding: 25px !important;
        background: white;
    }

    .user-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 25px rgba(0,0,0,0.15),
                   0 0 20px rgba(0,0,0,0.08) !important;
    }

    .user-image {
        border-radius: 18px;
        overflow: hidden;
        margin-bottom: 20px;
        border: none;
        box-shadow: 0 0 15px rgba(0,0,0,0.08);
    }

    .user-image img {
        transition: all 0.3s ease;
        border-radius: 18px;
    }

    .user-image:hover img {
        transform: scale(1.05);
    }

    .btn-profile {
        transition: all 0.3s ease;
        margin: 0 5px;
        border-radius: 15px !important;
        box-shadow: 0 0 12px rgba(0,0,0,0.1);
    }

    .btn-profile:hover {
        opacity: 0.95;
        transform: translateY(-2px);
        box-shadow: 0 0 15px rgba(0,0,0,0.15);
    }
</style>

@section Scripts {
    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();

            function handleSubscriptionError() {
                toastr.error('An error occurred. Please try again later.');
            }

            // Handle friend removal
            function handleRemoveFriend(btn) {
                var friendId = btn.data('user-id');
                btn.prop('disabled', true);

                $.post('/Users/RemoveFriend', { friendId: friendId })
                    .done(function(response) {
                        if (response.success) {
                            toastr.success(response.message);
                            btn.closest('.user-item').fadeOut(300, function() {
                                $(this).remove();
                                if ($('.remove-friend-btn').length === 0) {
                                    location.reload();
                                }
                            });
                        } else {
                            toastr.error(response.message);
                        }
                    })
                    .fail(handleSubscriptionError)
                    .always(function() {
                        btn.prop('disabled', false);
                    });
            }

            $('.remove-friend-btn').click(function(e) {
                e.preventDefault();
                handleRemoveFriend($(this));
            });
        });
    </script>
}