@using Elomoas.mvc.Models.Users;
@model UserVM;

@{
    ViewData["Title"] = "UserPage";
}

<form id="antiForgeryForm">
    @Html.AntiForgeryToken()
</form>

<style>
    .btn-profile {
        transition: all 0.3s ease;
        margin: 0 5px;
        border-radius: 15px !important;
        box-shadow: 0 0 12px rgba(0,0,0,0.1);
    }

    .btn-profile:hover {
        opacity: 0.95;
        transform: translateY(-2px);
        box-shadow: 0 0 15px rgba(0,0,0,0.15);
    }

    .spinner {
        animation: spin 1s linear infinite;
    }

    .avatar {
        position: relative;
        display: inline-block;
        margin-top: -70px !important;
    }

    .avatar img {
        width: 90px !important;
        height: 90px !important;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid white;
        box-shadow: 0 3px 10px rgba(0,0,0,0.1);
        transition: transform 0.3s ease;
    }

    .avatar:hover img {
        transform: scale(1.05);
    }

    .w90 {
        width: 90px !important;
    }
</style>

<div class="middle-sidebar-bottom">
    <div class="middle-sidebar-left">
        <div class="card d-block w-100 border-0 shadow-xss rounded-lg overflow-hidden mb-3">
            <div class="card-body position-relative h200 bg-gradiant-bottom bg-image-cover bg-image-center" style="background-image: url(/images/bb-16.png);"></div>
            <div class="card-body d-block w-100 pl-lg-5 pl-4 pr-4">
                <figure class="avatar ml-0 mb-0 position-relative z-index-1">
                    <img src="@(Model.User.Img ?? "/images/user-12.png")" alt="@Model.User.Name">
                </figure>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-xl-6 md-mb-2">
                        <h4 class="fw-700 font-xs mt-3 mb-1">
                            @Model.User.Name
                            @if (Model.User.IsFriend)
                            {
                                <i class="feather-user-check text-success ml-1" data-toggle="tooltip" title="Friend"></i>
                            }
                        </h4>
                        <span class="font-xssss fw-600 text-grey-500 d-inline-block ml-0">@Model.User.Email</span>
                        <span class="dot ml-2 mr-2 d-inline-block btn-round-xss bg-grey"></span>
                    </div>
                    <div class="col-xl-3 md-mb-2">
                        <ul class="d-flex align-items-center mt-2 float-left">
                            <li class="mr-2"><a href="#" class="btn-round-md bg-facebook"><i class="font-xs ti-facebook text-white"></i></a></li>
                            <li class="mr-2"><a href="#" class="btn-round-md bg-twiiter"><i class="font-xs ti-twitter-alt text-white"></i></a></li>
                            <li class="mr-2"><a href="#" class="btn-round-md bg-linkedin"><i class="font-xs ti-linkedin text-white"></i></a></li>
                            <li class="mr-2"><a href="#" class="btn-round-md bg-instagram"><i class="font-xs ti-instagram text-white"></i></a></li>
                            <li class="mr-2"><a href="#" class="btn-round-md bg-pinterest"><i class="font-xs ti-pinterest text-white"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-xl-3 md-mb-2 pl-xl-4">
                        <div class="d-flex justify-content-center friend-actions" data-user-id="@Model.User.IdentityId">
                            @if (Model.User.IsFriend)
                            {
                                <div class="d-flex align-items-center">
                                <a href="#" class="mt-3 p-0 btn p-2 lh-24 w100 ml-1 ls-3 d-inline-block rounded-xl bg-danger font-xsssss fw-700 ls-lg text-white btn-profile remove-friend-btn" data-user-id="@Model.User.IdentityId">
                                    <i class="feather-user-minus mr-1"></i> REMOVE FRIEND
                                </a>
                                    <a asp-controller="Messanger" asp-action="Messanger" class="btn-round-md ml-2 mt-2 d-inline-block float-right bg-greylight" data-toggle="tooltip" title="Send message">
                                        <i class="feather-message-square font-sm text-grey-900"></i>
                                    </a>
                                </div>
                            }
                            else if (Model.User.FriendshipStatus == Elomoas.Domain.Entities.Enums.FriendshipStatus.Pending)
                            {
                                if (Model.User.IsSentByMe)
                                {
                                    <a href="#" class="mt-3 p-0 btn p-2 lh-24 w100 ml-1 ls-3 d-inline-block rounded-xl bg-warning font-xsssss fw-700 ls-lg text-white btn-profile">
                                        <i class="feather-clock mr-1"></i> PENDING
                                    </a>
                                }
                                else
                                {
                                    <div class="d-flex">
                                        <a href="#" class="mt-3 p-0 btn p-2 lh-24 w100 ml-1 ls-3 d-inline-block rounded-xl bg-success font-xsssss fw-700 ls-lg text-white btn-profile accept-friend-btn" data-user-id="@Model.User.IdentityId">
                                            <i class="feather-check mr-1"></i> ACCEPT
                                        </a>
                                        <a href="#" class="mt-3 p-0 btn p-2 lh-24 w100 ml-1 ls-3 d-inline-block rounded-xl bg-danger font-xsssss fw-700 ls-lg text-white btn-profile reject-friend-btn" data-user-id="@Model.User.IdentityId">
                                            <i class="feather-x mr-1"></i> REJECT
                                        </a>
                                    </div>
                                }
                            }
                            else
                            {
                                <a href="#" class="mt-3 p-0 btn p-2 lh-24 w100 ml-1 ls-3 d-inline-block rounded-xl bg-current font-xsssss fw-700 ls-lg text-white btn-profile add-friend-btn" data-user-id="@Model.User.IdentityId">
                                    <i class="feather-user-plus mr-1"></i> ADD FRIEND
                                </a>
                            }
                        </div>
                    </div>
                    
                    <div class="col-11">
                        <h4 class="text-grey-800 font-xsss mt-4 fw-700">About me</h4>
                        <p class="font-xssss fw-600 lh-28 text-grey-500 mb-0 pl-0">@(string.IsNullOrEmpty(Model.User?.Description) ? "The user has no description" : Model.User.Description)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>     

@section Scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}
  