@using Elomoas.Helpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - Elomoas</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
    <link rel="stylesheet" href="~/css/themify-icons.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/feather.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/video-player.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.png">
    
    @RenderSection("Styles", required: false)
</head>

<body class="color-theme-blue mont-font">
    <div class="preloader"></div>

    <div class="main-wrapper">
        <!-- navigation -->
        <nav class="navigation scroll-bar">
            <div class="container pl-0 pr-0">
                <div class="nav-content">
                    <div class="nav-top">
                        <a asp-controller="Home" asp-action="Feed">
                            <i class="feather-slack text-success display1-size mr-3 ml-3"></i>
                            <span class="d-inline-block fredoka-font ls-3 fw-600 text-current font-xl logo-text mb-0">Elomoas.</span>
                        </a>
                        <a href="#" class="close-nav d-inline-block d-lg-none"><i class="ti-close bg-grey mb-4 btn-round-sm font-xssss fw-700 text-dark ml-auto mr-2"></i></a>
                    </div>
                    <div class="nav-caption fw-600 font-xssss text-grey-500"><span>New </span>Feeds</div>
                    <ul class="mb-3">
                        <li class="logo d-none d-xl-block d-lg-block"></li>
                        @Html.SidebarLink("Home", "Feed", "Course Feed", "feather-tv", "chats")
                        @Html.SidebarLink("Users", "Users", "Users", "feather-shopping-bag", "friends")
                        @Html.SidebarLink("Groups", "Groups", "Groups", "feather-globe", "favorites")
                        
                            @Html.SidebarLink("Users", "MyProfile", "My Courses", "feather-video", "archived")
                        
                    </ul>
                    <div class="nav-caption fw-600 font-xssss text-grey-500"><span></span> Account</div>
                    <ul class="mb-3">
                        <li class="logo d-none d-xl-block d-lg-block"></li>
                        <li><a asp-controller="Settings" asp-action="Settings" class="nav-content-bttn open-font h-auto pt-2 pb-2"><i class="font-sm feather-settings mr-3 text-grey-500"></i><span>Settings</span></a></li>
                        <li><a asp-controller="Messanger" asp-action="Messanger" class="nav-content-bttn open-font h-auto pt-2 pb-2"><i class="font-sm feather-message-square mr-3 text-grey-500"></i><span>Chat</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- navigation -->

        <!-- main content -->
        <div class="main-content">
            <div class="middle-sidebar-header bg-white">
                <button class="header-menu"></button>
                <form action="#" class="float-left header-search">
                    <div class="form-group mb-0 icon-input">
                        <i class="feather-search font-lg text-grey-400"></i>
                        <input type="text" placeholder="Start typing to search.." class="bg-transparent border-0 lh-32 pt-2 pb-2 pl-5 pr-3 font-xsss fw-500 rounded-xl w350">
                    </div>
                </form>
                <ul class="d-flex ml-auto right-menu-icon">
                    <li><a asp-controller="Messanger" asp-action="Messanger"><i class="feather-message-square font-xl text-current"></i></a></li>
                    <li>
                        <a href="#">
                            <i class="feather-settings animation-spin d-inline-block font-xl text-current"></i>
                            <div class="menu-dropdown switchcolor-wrap">
                                <h4 class="fw-700 font-xs mb-4">Settings</h4>
                                <h6 class="font-xssss text-grey-500 fw-700 mb-3 d-block">Choose Color Theme</h6>
                                <ul>
                                    <li class="ml-0">
                                        <label class="item-radio item-content">
                                            <input type="radio" name="color-radio" value="red" checked=""><i class="ti-check"></i>
                                            <span class="circle-color bg-red" style="background-color: #ff3b30;"></span>
                                        </label>
                                    </li>
                                    <li class="ml-0">
                                        <label class="item-radio item-content">
                                            <input type="radio" name="color-radio" value="green"><i class="ti-check"></i>
                                            <span class="circle-color bg-green" style="background-color: #4cd964;"></span>
                                        </label>
                                    </li>
                                    <li class="ml-0">
                                        <label class="item-radio item-content">
                                            <input type="radio" name="color-radio" value="blue" checked=""><i class="ti-check"></i>
                                            <span class="circle-color bg-blue" style="background-color: #132977;"></span>
                                        </label>
                                    </li>
                                    <li class="ml-0">
                                        <label class="item-radio item-content">
                                            <input type="radio" name="color-radio" value="pink"><i class="ti-check"></i>
                                            <span class="circle-color bg-pink" style="background-color: #ff2d55;"></span>
                                        </label>
                                    </li>
                                    <li class="ml-0">
                                        <label class="item-radio item-content">
                                            <input type="radio" name="color-radio" value="yellow"><i class="ti-check"></i>
                                            <span class="circle-color bg-yellow" style="background-color: #ffcc00;"></span>
                                        </label>
                                    </li>
                                    <li class="ml-0">
                                        <label class="item-radio item-content">
                                            <input type="radio" name="color-radio" value="orange"><i class="ti-check"></i>
                                            <span class="circle-color bg-orange" style="background-color: #ff9500;"></span>
                                        </label>
                                    </li>
                                    <li class="ml-0">
                                        <label class="item-radio item-content">
                                            <input type="radio" name="color-radio" value="gray"><i class="ti-check"></i>
                                            <span class="circle-color bg-gray" style="background-color: #8e8e93;"></span>
                                        </label>
                                    </li>

                                    <li class="ml-0">
                                        <label class="item-radio item-content">
                                            <input type="radio" name="color-radio" value="brown"><i class="ti-check"></i>
                                            <span class="circle-color bg-brown" style="background-color: #D2691E;"></span>
                                        </label>
                                    </li>
                                    <li class="ml-0">
                                        <label class="item-radio item-content">
                                            <input type="radio" name="color-radio" value="darkgreen"><i class="ti-check"></i>
                                            <span class="circle-color bg-darkgreen" style="background-color: #228B22;"></span>
                                        </label>
                                    </li>
                                    <li class="ml-0">
                                        <label class="item-radio item-content">
                                            <input type="radio" name="color-radio" value="deeppink"><i class="ti-check"></i>
                                            <span class="circle-color bg-deeppink" style="background-color: #FFC0CB;"></span>
                                        </label>
                                    </li>
                                    <li class="ml-0">
                                        <label class="item-radio item-content">
                                            <input type="radio" name="color-radio" value="cadetblue"><i class="ti-check"></i>
                                            <span class="circle-color bg-cadetblue" style="background-color: #5f9ea0;"></span>
                                        </label>
                                    </li>
                                    <li class="ml-0 d-inline-block">
                                        <label class="item-radio item-content">
                                            <input type="radio" name="color-radio" value="darkorchid"><i class="ti-check"></i>
                                            <span class="circle-color bg-darkorchid" style="background-color: #9932cc;"></span>
                                        </label>
                                    </li>
                                </ul>
                                <div class="card bg-transparent-card border-0 d-block mt-3">
                                    <h4 class="d-inline font-xssss mont-font fw-700">Header Background</h4>
                                    <div class="d-inline float-right mt-1">
                                        <label class="toggle toggle-menu-color"><input type="checkbox"><span class="toggle-icon"></span></label>
                                    </div>
                                </div>
                                <div class="card bg-transparent-card border-0 d-block mt-3">
                                    <h4 class="d-inline font-xssss mont-font fw-700">Sticky Header</h4>
                                    <div class="d-inline float-right mt-1">
                                        <label class="toggle toggle-sticky"><input type="checkbox"><span class="toggle-icon"></span></label>
                                    </div>
                                </div>
                                <div class="card bg-transparent-card border-0 d-block mt-3">
                                    <h4 class="d-inline font-xssss mont-font fw-700">Full Screen</h4>
                                    <div class="d-inline float-right mt-1">
                                        <label class="toggle toggle-screen"><input type="checkbox"><span class="toggle-icon"></span></label>
                                    </div>
                                </div>
                                <div class="card bg-transparent-card border-0 d-block mt-3">
                                    <h4 class="d-inline font-xssss mont-font fw-700">Menu Position</h4>
                                    <div class="d-inline float-right mt-1">
                                        <label class="toggle toggle-menu"><input type="checkbox"><span class="toggle-icon"></span></label>
                                    </div>
                                </div>
                                <div class="card bg-transparent-card border-0 d-block mt-3">
                                    <h4 class="d-inline font-xssss mont-font fw-700">Dark Mode</h4>
                                    <div class="d-inline float-right mt-1">
                                        <label class="toggle toggle-dark"><input type="checkbox"><span class="toggle-icon"></span></label>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li><a asp-controller="Users" asp-action="MyProfile"><img src="images/female-profile.png" alt="user" class="w40 mt--1"></a></li>
                    <li><a href="#" class="menu-search-icon"><i class="feather-search text-grey-900 font-lg"></i></a></li>
                </ul>
            </div>

            <!-- Контейнер для уведомлений -->
            <div id="notificationContainer" class="notification-container"></div>

            @RenderBody()
        </div>
        <!-- main content -->

        <div class="app-footer border-0 shadow-lg">
            <a href="#" class="nav-content-bttn nav-center"><i class="feather-home"></i></a>
            <a href="#" class="nav-content-bttn"><i class="feather-package"></i></a>
            <a href="#" class="nav-content-bttn" data-tab="chats"><i class="feather-layout"></i></a>
            <a href="#" class="nav-content-bttn sidebar-layer"><i class="feather-layers"></i></a>
            <a href="#" class="nav-content-bttn"><img src="~/images/female-profile.png" alt="user" class="w30 shadow-xss"></a>
        </div>
    </div>

    <!-- Core Scripts -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    
    <!-- Custom Scripts -->
    <script src="~/js/plugin.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        // Инициализация toastr
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>