@using Elomoas.mvc.Models.Groups;
@model GroupVM;

@{
    ViewData["Title"] = "Groups";
}

<div class="middle-sidebar-bottom">
    <div class="middle-sidebar-left">
        <div class="row">
            @foreach (var group in Model.Groups)
            {
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="card mb-4 d-block w-100 shadow-xss rounded-lg p-xxl-5 p-4 border-0 text-center">
                        <a href="#" class="btn-round-xxxl rounded-lg bg-lightblue ml-auto mr-auto">
                            <img src="@group.Img" alt="@group.Name" class="p-1">
                        </a>
                        <h4 class="fw-700 font-xs mt-4">@group.Name</h4>
                        <p class="fw-500 font-xssss text-grey-500 mt-3">@group.Description</p>
                        <div class="clearfix"></div>
                        <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-success d-inline-block text-success mb-1 mr-1">Full Time</span>
                        
                        <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-success d-inline-block text-success mb-1 mr-1">@group.PL</span>
                        <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-info d-inline-block text-info mb-1">30 Min</span>
                        <div class="clearfix"></div>
                        <a href="#" class="p-2 mt-4 d-inline-block text-white fw-700 lh-30 rounded-lg w200 text-center font-xsssss ls-3 bg-current">APPLY NOW</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>    