@model Elomoas.mvc.Models.Courses.CourseVM

@{
    ViewData["Title"] = "Main";
}

<div class="middle-sidebar-bottom">
    <div class="middle-sidebar-left">
        <div class="row">
            <div class="col-lg-12 mb-3">
                <div class="card rounded-xxl p-lg--5 border-0 bg-no-repeat bg-image-contain banner-wrap" style="background-image: url(/images/fogg-clip.png);">
                    <div class="card-body p-4">
                        <h2 class="display3-size fw-400 display2-md-size sm-mt-7 sm-pt-10">Find a perfect <b class="d-lg-block">Online Course</b></h2>
                        <h4 class="text-grey-500 font-xssss fw-500 ml-1 lh-24">For only course you need to learn web development</h4>
                        <div class="form-group mt-lg-4 p-3 border-light border p-2 bg-white rounded-lg ">
                            <form id="searchForm" asp-controller="Search" asp-action="Search" method="get">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group icon-input mb-0">
                                            <i class="ti-search font-xs text-grey-400"></i>
                                            <input type="text" 
                                                   name="searchTerm"
                                                   class="style1-input bg-transparent border-0 pl-5 font-xsss mb-0 text-grey-500 fw-500" 
                                                   placeholder="Search online courses..">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group icon-input mb-0">
                                            <i class="ti-package font-xs text-grey-400"></i>
                                            <select name="category" class="style1-select bg-transparent border-0 pl-5">
                                                <option value="">Select PL</option>
                                                <option value="BOOTSTRAP">Bootstrap</option>
                                                <option value="HTML">HTML</option>
                                                <option value="JQUERY">Jquery</option>
                                                <option value="SASS">Sass</option>
                                                <option value="REACT">React</option>
                                                <option value="JAVA">JAVA</option>
                                                <option value="PYTHON">Python</option>
                                                <option value="MONGODB">Mongodb</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="submit" class="w-100 d-block btn bg-current text-white font-xssss fw-600 ls-3 style1-input p-0 border-0 text-uppercase">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <h4 class="text-grey-500 font-xssss fw-500 ml-1 lh-24"> <b class="text-grey-800 text-dark">Popular Search :</b> Designer, Developer, PHP, HTML, CSS, SCSS </h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 pt-2">
                <h2 class="fw-400 font-lg">Explore <b>Categories</b> </h2>
            </div>

            <div class="col-lg-12 mt-3">
                <div class="owl-carousel category-card owl-theme overflow-hidden overflow-visible-xl nav-none">

                    <div class="item">
                        <div class="card cat-card-hover mr-1 w140 border-0 p-4 rounded-lg text-center" style="background-color: #fcf1eb;">
                            <a asp-controller="Search" asp-action="Search" asp-route-category="BOOTSTRAP">
                                <div class="card-body p-2 ml-1 ">
                                    <span class="btn-round-xl bg-white"><img src="~/images/download1.png" alt="icon" class="p-2"></span>
                                    <h4 class="fw-600 font-xsss mt-3 mb-0">Bootstrap <span class="d-block font-xsssss fw-500 text-grey-500 mt-2">@(Model.CoursesCount.GetValueOrDefault("BOOTSTRAP", 0)) Course</span></h4>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card cat-card-hover mr-1 w140 border-0 p-4 rounded-lg text-center" style="background-color: #fff9eb;">
                            <a asp-controller="Search" asp-action="Search" asp-route-category="HTML">
                                <div class="card-body p-2 ml-1 ">
                                    <span class="btn-round-xl bg-white"><img src="~/images/download2.png" alt="icon" class="p-2"></span>
                                    <h4 class="fw-600 font-xsss mt-3 mb-0">HTML <span class="d-block font-xsssss fw-500 text-grey-500 mt-2">@(Model.CoursesCount.GetValueOrDefault("HTML", 0)) Course</span></h4>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card cat-card-hover mr-1 w140 border-0 p-4 rounded-lg text-center" style="background-color: #e5f4fb;">
                            <a asp-controller="Search" asp-action="Search" asp-route-category="JQUERY">
                                <div class="card-body p-2 ml-1 ">
                                    <span class="btn-round-xl bg-white"><img src="~/images/download3.png" alt="icon" class="p-2"></span>
                                    <h4 class="fw-600 font-xsss mt-3 mb-0">Jquery <span class="d-block font-xsssss fw-500 text-grey-500 mt-2">@(Model.CoursesCount.GetValueOrDefault("JQUERY", 0)) Course</span></h4>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card cat-card-hover mr-1 w140 border-0 p-4 rounded-lg text-center" style="background-color: #dcf4f8;">
                            <a asp-controller="Search" asp-action="Search" asp-route-category="SASS">
                                <div class="card-body p-2 ml-1 ">
                                    <span class="btn-round-xl bg-white"><img src="~/images/download4.png" alt="icon" class="p-2"></span>
                                    <h4 class="fw-600 font-xsss mt-3 mb-0">Sass <span class="d-block font-xsssss fw-500 text-grey-500 mt-2">@(Model.CoursesCount.GetValueOrDefault("SASS", 0)) Course</span></h4>
                                </div>
                            </a>
                        </div>
                    </div>


                    <div class="item">
                        <div class="card cat-card-hover mr-1 w140 border-0 p-4 rounded-lg text-center" style="background-color: #fcf1eb;">
                            <a asp-controller="Search" asp-action="Search" asp-route-category="REACT">
                                <div class="card-body p-2 ml-1 ">
                                    <span class="btn-round-xl bg-white"><img src="~/images/download5.png" alt="icon" class="p-2"></span>
                                    <h4 class="fw-600 font-xsss mt-3 mb-0">React <span class="d-block font-xsssss fw-500 text-grey-500 mt-2">@(Model.CoursesCount.GetValueOrDefault("REACT", 0)) Course</span></h4>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card cat-card-hover mr-1 w140 border-0 p-4 rounded-lg text-center" style="background-color: #fff9eb;">
                            <a asp-controller="Search" asp-action="Search" asp-route-category="JAVA">
                                <div class="card-body p-2 ml-1 ">
                                    <span class="btn-round-xl bg-white"><img src="~/images/download6.png" alt="icon" class="p-2"></span>
                                    <h4 class="fw-600 font-xsss mt-3 mb-0">JAVA <span class="d-block font-xsssss fw-500 text-grey-500 mt-2">@(Model.CoursesCount.GetValueOrDefault("JAVA", 0)) Course</span></h4>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card cat-card-hover mr-1 w140 border-0 p-4 rounded-lg text-center" style="background-color: #e5f4fb;">
                            <a asp-controller="Search" asp-action="Search" asp-route-category="PYTHON">
                                <div class="card-body p-2 ml-1 ">
                                    <span class="btn-round-xl bg-white"><img src="~/images/download7.png" alt="icon" class="p-2"></span>
                                    <h4 class="fw-600 font-xsss mt-3 mb-0">Python<span class="d-block font-xsssss fw-500 text-grey-500 mt-2">@(Model.CoursesCount.GetValueOrDefault("PYTHON", 0)) Course</span></h4>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card cat-card-hover mr-1 w140 border-0 p-4 rounded-lg text-center" style="background-color: #fcf1eb;">
                            <a asp-controller="Search" asp-action="Search" asp-route-category="MONGODB">
                                <div class="card-body p-2 ml-1 ">
                                    <span class="btn-round-xl bg-white"><img src="~/images/mongodb.png" alt="icon" class="p-2"></span>
                                    <h4 class="fw-600 font-xsss mt-3 mb-0">Mongodb <span class="d-block font-xsssss fw-500 text-grey-500 mt-2">@(Model.CoursesCount.GetValueOrDefault("MONGODB", 0)) Course</span></h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 pt-4 mb-3">
                <h2 class="fw-400 font-lg d-block">Popular <b>Classes</b></h2>
            </div>

            <div class="col-lg-12 pt-2">
                <div class="owl-carousel category-card owl-theme overflow-hidden overflow-visible-xl nav-none">
                    @foreach (var course in Model.PopularCourses)
                    {
                        <div class="item">
                            <div class="card course-card w300 p-0 shadow-xss border-0 rounded-lg overflow-hidden mr-1 mb-4">
                                <div class="card-image w-100 mb-3">
                                    <a asp-controller="Course" asp-action="Course" asp-route-id="@course.Id" class="video-bttn position-relative d-block"><img src="@course.Img" alt="image" class="w-100"></a>
                                </div>
                                <div class="card-body pt-0">
                                    <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-warning d-inline-block text-warning mr-1">@course.PL</span>
                                    <span class="font-xss fw-700 pl-3 pr-3 ls-2 lh-32 d-inline-block text-success float-right"><span class="font-xsssss">$</span> @course.Price</span>
                                    <h4 class="fw-700 font-xss mt-3 lh-28 mt-0">
                                        <a asp-controller="Course" asp-action="Course" asp-route-id="@course.Id" class="text-dark text-grey-900">@course.Name</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="col-lg-12 pt-0 mb-3">
                <h2 class="fw-400 font-lg d-block">Latest <b>Classes</b></h2>
            </div>

            <div class="col-lg-12 pt-2">
                <div class="owl-carousel category-card owl-theme overflow-hidden overflow-visible-xl nav-none">
                    @foreach (var course in Model.LatestCourses)
                    {
                        <div class="item">
                            <div class="card course-card w300 p-0 shadow-xss border-0 rounded-lg overflow-hidden mr-1 mb-4">
                                <div class="card-image w-100 mb-3">
                                    <a asp-controller="Course" asp-action="Course" asp-route-id="@course.Id" class="video-bttn position-relative d-block"><img src="@course.Img" alt="image" class="w-100"></a>
                                </div>
                                <div class="card-body pt-0">
                                    <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-warning d-inline-block text-warning mr-1">@course.PL</span>
                                    <span class="font-xss fw-700 pl-3 pr-3 ls-2 lh-32 d-inline-block text-success float-right"><span class="font-xsssss">$</span> @course.Price</span>
                                    <h4 class="fw-700 font-xss mt-3 lh-28 mt-0">
                                        <a asp-controller="Course" asp-action="Course" asp-route-id="@course.Id" class="text-dark text-grey-900">@course.Name</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>  
        </div>
    </div>
</div>

