@using SocialNetwork.Areas.Admin.Models;
@model AppUsersViewModel;
@{
    ViewData["Title"] = "Users Management";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .container-fluid {
        padding-top: 70px;
        padding-left: 0;
        padding-right: 0;
        max-width: 1200px;
        margin: 0;
    }

    .card {
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    .card-body {
        padding-left: 0;
        padding-right: 0;
    }

    .table-responsive {
        margin: 0;
        width: 100%;
    }

    #usersTable {
        width: 100% !important;
        margin: 0 !important;
    }

    #usersTable th, #usersTable td {
        white-space: nowrap;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .dataTables_wrapper {
        width: 100% !important;
        margin: 0 !important;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="mb-4">AppUsers Managing</h3>
                    <div class="table-responsive">
                        <table class="display" id="usersTable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Identity ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Image</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model.Users)
                                {
                                    <tr>
                                        <td>@user.Id</td>
                                        <td>@user.IdentityId</td>
                                        <td>@user.Name</td>
                                        <td>@user.Email</td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(user.Img))
                                            {
                                                <img src="@user.Img" alt="@user.Name" style="width: 40px; height: 40px; object-fit: cover; border-radius: 50%;" />
                                            }
                                        </td>
                                        <td>@user.Description</td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="/Admin/AppUsers/Edit/@user.Id" class="btn btn-primary btn-sm">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="/Admin/AppUsers/Details/@user.Id" class="btn btn-info btn-sm">
                                                    <i class="fa fa-info-circle"></i>
                                                </a>
                                                <a href="/Admin/AppUsers/Delete/@user.Id" class="btn btn-danger btn-sm">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            $('#usersTable').DataTable({
                dom: 'ft',
                pageLength: -1,
                order: [[0, 'asc']]
            });
        });
    </script>
} 